<html>
    <head>
        <title>Oksana's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Oksana's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Finally I do it by myself</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I will do more and more for improving my klowledge</p>
        </div>
    </body>
</html>
